:root{
    --color-text-ppal: #233160;
    --white-color: #ffffff;
    --nav-footer-background: #96c96a;
    --background-btn:#d7f2f2;
    --footer-subtitles: #f5fbf2;
    --footer-text:#d5fab6;
    --background-cielo:#72C7D0;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif; */
}
header{
    background-color: var(--background-cielo);
    color: var(--color-text-ppal);
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}
header p{
    font-size: 20px ;
    font-weight: bold;
}
a{
    text-decoration: none;
}

/**********************HEADER**********************/
.button-header{
    background-color: var(--background-btn);
    border: none;
    font-size: 16px ;
    font-weight: bold;
    width: 132px;
    height: 27px;
    border-radius: 10px;
    opacity: 0.9;
}
.button-header a{
    color: var(--color-text-ppal);
}
.button-header:hover{
    opacity:1;
}

/**********************ARTICLE**********************/
article{
    background-color: var(--white-color);
    color: var(--color-text-ppal);
    display: flex;
    justify-content: center;
}
.information-container figure {
    margin: 20px 40px 0 0;
}
h1{
    padding-top:10px;
    font-size: 32px;
    font-weight: bold;
}
.information-text{
    width: 700px;
    padding: 10px;
}
.information-text p{
    font-size: 18px;
    font-weight: 400;   
    margin-top:25px;
    line-height: 140%;
}
#negrita{
    font-weight: bold;
}

/**********************NAVBAR**********************/
li{
    list-style: none;
}
li a{
    color: var(--white-color);
    font-size: 20px;
    font-weight: 500;
}
li a:hover{
    color: var(--color-text-ppal);
}
nav{
    background-color: var(--nav-footer-background);
    color: var(--white-color);
}
nav li{
    padding: 20px 50px;
}
nav ul{
    display: flex;
    justify-content:center;
}

/**********************SECTION**********************/
.container{
    background-color: var(--background-cielo);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.characters{
    background-color: var(--background-cielo);
}
section .message{
    font-family: 'Inter', sans-serif;
    color: var(--white-color);
    font-size: 32px;
    font-weight: 400;
    width: 572px;
    height: 127px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.characters .characters-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    place-content: center;
    padding: 70px;
}
.characters .character-card{
    background-color: var(--background-btn);
    color: var(--color-text-ppal);
    border-radius: 20px;
    text-align: center;
    width: 320px; 
    height: 480px; 
    padding: 20px;
}
.character-card span{
    font-size: 22.9px;
    font-weight: bold;
}
.character-info figure{
    background-color: var(--white-color);
    width: 270px;
    height: 270px;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 12px;
}
.character-info figure img{
    border-radius: 20px;
    object-fit: cover;
    width: 270px;
    height: 270px

}

div.character-info{
    font-size: 16px;

}
div.character-info p:nth-child(1){
    color: var(--footer-text);
    background-color: var(--nav-footer-background);
    border-radius: 10px;
    display:inline-flex;
    margin-bottom: 12px;
    margin-top:20px;
    width: 84px;
    height: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
}
.character-info p:nth-child(2), .character-info p:nth-child(3){
    font-weight: 400;
    margin: 8px;
} 


 
/*******************FOOTER***********************/
footer{
    background-color: var(--nav-footer-background);
    color: var(--footer-text);
    font-family: 'Work Sans', sans-serif;
    width: auto;
    height: 350px;
    display: flex;
    justify-content: space-between;
    padding:90px 60px; 
}
.name-footer-container span{
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    font-size:32px;
    font-weight: bold;
}
.name-footer-container{
    width: 250px;
}
.name-footer-container p{
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}
.subtitle-footer{
    color: var(--white-color);
    font-size: 22px;
    font-weight: bold;
}
.hireMe-container p{
   margin-top:15px;
   font-size: 18px;
}  
.hireMe-container p a{
    color: var(--footer-text);
}
.usuful-links ul,
.social-media ul{
    margin-top: 30px;
}
.usuful-links ul li, 
.social-media ul li{
    margin-top: 16px;
}
.usuful-links ul li a, 
.social-media ul li a{
    color: var(--footer-text);
    font-size: 18px;
    font-weight: 500;
}
.usuful-links ul li a:hover, 
.social-media ul li a:hover,
.hireMe-container p a:hover{
    color: var(--color-text-ppal);
}